---
layout: default
title: Home
---

<section class="greeting">
	<div class="img-me">
		<img src="{{ site.assets }}me-n-ysh.jpg" alt="Steven Speicher">
	</div>

	<h1>Greetings!</h1>
	<p>I'm currently living in sunny Seattle with my wife and cat. I work on the Seattle Times' Engineering team helping to build the next generation of news media.</p>
	<p>Previously, I was with University of Washington Marketing & Communications and Nebraska's NPR & PBS station.</p>
</section>

<section class="portfolio">
	<h2>Work</h2>
	{% for project in site.data.portfolio %}

	{% capture portfolio_cycle %}{% cycle 'p_odd', 'p_even' %}{% endcapture %}
	{% if portfolio_cycle == 'p_odd' %}
		<div class="row">
	{% endif %}

        <div class="project col-xs-6">
        	<h4 class="project-title">{{ project.title }}</h4>
        	{% if project.link %}
				<a class="project-link" target="_blank" href="{{ project.link }}">
        	{% endif %}
        	<img class="project-img" src="{{ site.assets }}{{ project.image }}" alt="">
        	{% if project.link %}
				</a>
        	{% endif %}

        	{% if project.note %}
				<p class="project-proficiencies" style="margin-top: 4px; text-align:right;">{{project.note}}</p>
        	{% endif %}
		</div>

	{% if portfolio_cycle == 'p_even' or forloop.last %}
		</div>
	{% endif %}

    {% endfor %}
</section>
