section {
	margin-bottom: 40px;
}

section:after, section:before{
	content: " ";
	display: table;
}

section:after {
	clear: both;
}

.bold {
	font-weight: bold;
}

.email {
	text-align: center;
}

.sidebar .email a:hover {
  color: rgba(255,255,255,.6);
}

.sidebar-about a:hover {
	color: rgba(255,255,255,.6);
}

.lead {
	font-size: 1.2rem;
	line-height: 1.5rem;
    font-weight: bold;
}

.gray {
    color: #bbb;
}

h1 {
	margin-top: 0;
	font-family: Avenir, sans-serif;
    font-weight: 900;
}

h2 {
	font-size:1.8rem;
    font-weight: 900;
    text-align: center;
	color: #b45c4d;
}

h4 { margin-top: 0; }

img { width: 100%; }

a:hover { 
	color: rgba(180,92,77, .6);
}

.contact-links {
	text-align: center;
}

.contact-links span {
	padding: 0 4px;
	margin: 0 auto;
}

.contact-links i:hover {
	color: rgba(255,255,255,.6);
}

/* GREETING */

.greeting h1 {
	margin-top: 0;
	color:#b45c4d;
}

.greeting .img-me {
	width: 30%; 
	float:left; 
	margin-right: 15px;	
}


.greeting img {
	margin-bottom: 0;

}

.img-me-aside {
	font-size: .6em;
	font-style: italic;
	margin-top:0;
}

/* PORTFOLIO */

.project {
	margin-bottom: 30px;
}

.project-title {
	text-align: center;
}

.project-img {
	border-radius: 6px;
	margin-bottom: 0;
}

.project-link:hover .project-img {
	opacity: .5;
}

.project-description {
	font-size: .8em;
	font-style: italic;
	margin-top: 12px;
	margin-bottom: .4rem;
}

.project-proficiencies {
	font-size: .7em;
	font-style: italic;
	margin-top: 0px;
}

/* SKILLS */

.skills h6 {
	margin-bottom: 0;
}

.skill-level {
	color: white;
	background-color: #b45c4d;
	margin-bottom: 6px;
	padding-left: 4px;
	font-size: .7em;
}

.skill-rank {
	text-align:right;
	float: right;
	padding-right: 4px;
}



/* BLOG */

.post-title a {
	color: #b45c4d;
}

.post-title a:hover {
	color: rgba(180,92,77, .7);
}

.read-more {
	margin-bottom: 0;
	text-align: right;
}

.post h6 {
	font-size: .8em;
	font-weight: normal;
	text-align: left;
	font-style: italic;
	margin-top: -.6rem;
	margin-bottom: 1.5rem;
}

/* VIDEO */

.video {
	width: 50%;
	float: left;
	padding-right: 22px;
	margin-bottom: 30px;
}

.video-title {
	text-align: center;
}

.video-description {
	font-size: .8em;
	font-style: italic;
	margin-top: 6px;
}

.fluid-video-wrapper {
	position: relative;
	padding-bottom: 52.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.fluid-video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* WRITING */
.writing-nav-item {
  display: block;
  line-height: 1.75;
}

.writing .page-description {
	font-style: italic;
	text-align: right;
	font-size: .8em;
}

.writing p {
	text-align: left;
}

.writing p.align-right {
	text-align: right;
}

.writing .lines p {
	margin: 20px auto;
	text-align: left;
	width: 50%;
}

/* RESUME */

.resume {
	position: relative;
}

.resume h2 {
    text-align: left;
}

.resume p {
	margin-bottom: 0;
}

.resume .download {
	position: absolute;
	top: -25px;
	right:5px;
}

.resume a {
	color: #bbb;
}

.resume a:hover {
	color: black;
}
