<h3><u>WHAT IT MEANS TO BE GREEN</u></h3>

					<p>FADE IN:</p>

					<div class="lines">
						<p>NARRATOR (V.O.)</p>

						<p>Environmentally-friendly? Green? Don't we all. What <i>does</i> it mean to be green?</p>
					</div>

					<p>TITLE "WHAT IT MEANS TO BE GREEN" appears on screen.</p>

					<p class="align-right">FADE OUT.</p>

					<p>INT. MOVIE THEATRE - EVENING</p>

					<p>Popcorn machine is full of popcorn. CAMERA PULLS BACK to reveal a movie theatre lobby and WOMAN at the concession stand.</p>

					<div class="lines">
						<p>WOMAN</p>

						<p>(happily)</p>

						<p>Medium popcorn please.</p>
					</div>

					<p>WOMAN notices the new popcorn bags as the concession stand attendant begins to fill the bag. There's a recycled image printed on the side.</p>

					<div class="lines">
						<p>WOMAN (CONT'D)</p>

						<p>(curious but pleased)</p>

						<p>Oh, you have new recycled bags? That's great to see.</p>
					</div>
								
					<p>WOMAN enters movie hall with a bag full of popcorn happily munching on it. WE HEAR other voices in the movie hall on and off screen.</p>

					<p>WOMAN is seated in movie hall and the lights dim as the movie begins. WE HEAR other voices quiet slowly.</p>

					<p class="align-right">MATCH CUT TO:</p>

					<p>WOMAN sits in chair comfortably, eating popcorn as WE HEAR POPCORN BAGS RUFFLING over the SOUNDS OF THE MOVIE.</p>

					<p>WOMAN gives dirty looks to those making noise.</p>

					<p>OTHER PATRONS dig into their bag for popcorn. BAG RUFFLING SFX becomes LOUDER THAN FILM TRACK.</p>

					<p>WOMAN'S brow sweats as she nervously looks around movie hall continuing to shove popcorn in her mouth.</p>

					<p>OTHER PATRONS dig into their bag for popcorn. EACH SHOT has increasingly exaggerated digging and BAG RUFFLING becomes LOUDER and LOUDER. </p>

					<p>WOMAN looks around at OTHER PATRONS, a air of paranoia over her.</p>

					<p>WOMAN POV of her popcorn bag and realizes her bag is also RUFFLING OBNOXIOUSLY as she digs for popcorn.</p>

					<p>WOMAN at peak of her paranoia.</p>

					<p>WOMAN storms out of the movie hall and into the lobby.</p>

					<p class="align-right">FADE OUT.</p>

					<p>INT. GROCERY STORE - MORNING</p>

					<p>MAN pushes a cart down the produce isle of a grocery store. He is eyeing the produce on the shelf and has a list in his hand.</p>

					<p>MAN'S POV of long grocery list that reads: "Weekly Shopping List: apples, carrots, broccoli, ..."</p>

					<p>MAN looks up at vegetables on shelf.</p>

					<p>MAN'S POV of broccoli sign that says: "Broccoli $1.99/head." CAMERA PANS to RIGHT to show sign that says: "ORGANIC Broccoli $4.99/head."</p>

					<p>MAN stands in front of both signs, staring.</p>

					<p class="align-right">CUT TO:</p>

					<p>MAN moves through checkout with obviously small amount of food, as compared to his lengthy grocery list.</p>

					<p class="align-right">FADE OUT.</p>

					<p>IN BLACK FRAME, a subtitle reads "two days later" for SEVERAL BEATS.</p>

					<p>EXT. GROCERY STORE - MORNING</p>

					<p>MAN approaches grocery store entrance.</p>

					<p class="align-right">FADE OUT.</p>

					<p>EXT. HOUSE - AFTERNOON</p>

					<p>Snow is falling outside the house. A person walks down the sidewalk bundled heavily in winter clothes. It's obviously very cold, in the heart of winter.</p>

					<p class="align-right">CUT TO:</p>

					<p>INT. HOUSE - AFTERNOON</p>

					<p>MAN is huddled in blankets on couch, reading. He ends a chapter and is tired of reading and looks up, bored. WE HEAR the HUM of the heater kicking on. </p>

					<div class="lines">
						<p>MAN</p>

						<p>(sluggishly)</p>

						<p>Ugh.</p>
					</div>

					<p>MAN approaches thermostat and turns knob. HUM turns off.</p>

					<p>THERMOSTAT reads 60 degrees.</p>

					<p>MAN returns to couch and makes a phone call. SEVERAL BEATS.</p>

					<div class="lines">
						<p>MAN (CONT'D)</p>

						<p>Hey. Do you wanna come over and watch a movie or something?</p>
					</div>

					<p>SEVERAL BEATS of INDISTINGUISHABLE NOISE on phone.</p>

					<div class="lines">
						<p>MAN (CONT'D)</p>

						<p>Yeah, I have it set to 60. I'm just saving energy, man. It's not that bad. Just come over.</p>
					</div>

					<p>SEVERAL BEATS of INDISTINGUISHABLE NOISE on phone.</p>

					<div class="lines">
						<p>MAN (CONT'D)</p>

						<p>You'll get used to it... BEAT</p>
					</div>

					<div class="lines">
						<p>MAN (CONT'D)</p>

						<p>OK, whatever. Talk to ya later this week.</p>
					</div>

					<p>MAN sits back in chair, relaxes for a bit. MAN makes another phone call.</p>

					<div class="lines">
						<p>MAN (CONT'D)</p>

						<p>Hey, come over.</p>
					</div>

					<p>SEVERAL BEATS of INDISTINGUISHABLE NOISE on phone.</p>

					<div class="lines">
						<p>MAN (CONT'D)</p>

						<p>Yeah, it feels fine. See you in a bit.</p>
					</div>

					<p class="align-right">CUT TO:</p>

					<p>MAN opens front door and MAN #2 walks in.</p>

					<p class="align-right">CUT TO:</p>

					<p>BOTH MEN are sitting on the couch watching a movie. MAN is comfortable but MAN #2 is still wearing his winter coat, hat, gloves, obviously freezing.</p>

					<div class="lines">
						<p>MAN #2</p>

						<p>(shivers)</p>
					</div>

					<p>FADE OUT.</p>

					<p>EXT. Bus stop - late afternoon</p>

					<p>A plastic bottle, is brought up to a mouth. CAMERA PULLS BACK to reveal a MAN taking a drink. He's sitting at a bus stop with several other people sitting near and some walking by.</p>

					<p>A WOMAN sitting near MAN notices the MAN drinking the bottled water and</p>

					<div class="lines">
						<p>WOMAN</p>

						<p>(quickly)</p>

						<p>You shouldn't drink bottled water. Did you know it takes a liter of water to make just one bottle? Not including the water inside. <i>AND</i> that plastic will just end up in the landfill.</p>
					</div>

					<p>MAN is taken off guard and pulls the bottle down from his mouth spilling a little.</p>

					<div class="lines">
						<p>MAN</p>

						<p>Oh...</p>
					</div>

					<div class="lines">
						<p>WOMAN (o.s.)</p>

						<p>(spoken over MAN)</p>

						<p>You should get a reusable water bottle.</p>
					</div>

					<p>BOTH sit on the bench looking forward, idly. MAN still has bottle in hand. </p>

					<p>WOMAN pulls out of her bag a DIET COKE which she takes a sip of and</p>

					<p>MAN notices as WE HEAR her SCREW THE CAP back on O.S.</p>

					<p class="align-right">FADE OUT.</p>

					<p>INT. OFFICE - afternoon</p>

					<p>MAN is sitting at his office desk slightly squirming. He quickly finishes what he is typing and hurries OFF SCREEN.</p>

					<p>MAN approaches bathroom.</p>

					<p>INT. BATHROOM - AFTERNOON</p>

					<p>The bathroom is dark and WE HEAR the MAN fumbling for the light switch. WE SEE the bathroom light up and the MAN'S hand still near the switch. He's looking at the</p>

					<p>LIGHT SWITCH with a label that says "Please turn off lights when not in use to save energy."</p>

					<p>MAN'S FACE shows slight confusion.</p>

					<p>MAN quickly moves to stall and closes the door.</p>

					<p>MAN sits on toilet relieving himself.</p>

					<p>O.S. SFX of someone entering bathroom. MAN QUIETS, embarrassed. WE HEAR O.S. the other person use the urinal, flush and wash hands. WE HEAR the door open and</p>

					<p>LIGHTS TURN OFF.</p>

					<div class="lines">
						<p>MAN</p>

						<p>Hello?</p>
					</div>

					<p class="align-right">FADE OUT.</p>

					<p>EXT. CITY ROAD - morning</p>

					<p>BEFORE WE SEE anything, WE HEAR the pedals of a bike and rolling tires.</p>

					<p>Tires and pedals spin down the pavement.</p>

					<p>A WOMAN wears a helmet and rides a commuter road bike with racks and panniers loaded for a days work. She's happily riding in pleasant weather down a bike lane in the middle of the road.</p>

					<p>WOMAN'S FACE smiles and she waves as she passes by a pedestrian O.S.</p>

					<p>WOMAN looks forward and notices a</p>

					<p>SIGN that reads: "SHARE THE ROAD" with a picture of a bike.</p>

					<p>WOMAN smiles.</p>

					<p>WOMAN continues to ride smoothly down bike lane. WE HEAR an ENGINE quickly approaching O.S.</p>

					<p>A LARGE SUV whizzes past WOMAN'S left, driving precariously close in the bike lane. WOMAN reacts by turning hard to the right and begins to fall to the</p>

					<p class="align-right">CUT TO BLACK SCREEN.</p>

					<div class="lines">
						<p>NARRATOR (v.O.)</p>

						<p>...it's a risk some are willing to take.</p>
					</div>

					<p class="align-right">END.</p>