<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Steven Speicher is a web producer in the heart of the Great Plains. He makes web things and other multimedia stuff.">
  <meta name="keywords" content="developer, video, timelapse, interactives">
  <meta name="author" content="Steven Speicher">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/poole.css">
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/hyde.css">
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/styles.css">
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/bootstrap.css">

  <link rel="stylesheet" href="{{ '/' | relative_url }}public/fonts/font-awesome.min.css">

  <!-- Icons -->
  <link rel="icon" href="{{ '/' | relative_url }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
