<h3><u>Maui's Magic Hook</u></h3>

					<p>EXT. PACIFIC ISLANDER VILLAGE - Morning (ANIMATED DRAWINGS)</p>

					<p>MAUI sneaks up to a large wooden canoe on the shore. He is looking around, hiding.</p>

					<p>MAUI leaps into the canoe and disappears towards the bottom.</p>

					<p class="align-right">CUT TO:</p>

					<p>EXT. canoe OUT AT SEA - AFTERNOON (ANIMATED DRAWINGS)</p>

					<p>TWO OLDER BROTHERS are rowing out at sea, land still visible in b.g., with fishing poles at their side. They are focused on rowing.</p>

					<p>MAUI pops up from the floor and</p>

					<div class="lines">
						<p>MAUI</p>

						<p>(excited)</p>

						<p>I have a magic hook!</p>
					</div>

					<p>MAUI holds up an ordinary looking hook.</p>

					<div class="lines">
						<p>BROTHER #1</p>

						<p>(startled)</p>

						<p>How did you get in the waka? We told you not to come.</p>
					</div>

					<div class="lines">
						<p>BROTHER #2</p>

						<p>You are still too young to be fishing.</p>
					</div>

					<div class="lines">
						<p>MAUI</p>

						<p>I hid at the bottom. Don't take me back. The shore is now too far away.</p>
					</div>

					<p>WE SEE the shore seem to magically move further into the distance, a speck in the vast ocean.</p>

					<div class="lines">
						<p>BROTHER #2</p>

						<p>(upset)</p>

						<p>We're taking you home.</p>
					</div>

					<p>The OLDER BROTHERS continue to row unwilling to accept its futility.</p>

					<p>MAUI sneaks off to the back edge of the canoe and ties his magic hook to a pole. He throws it </p>

					<p>far from the canoe, the hook lands with a small splash.</p>

					<p>MAUI sits with pole in hand and turns.</p>

					<p>MAUI POV of the OLDER BROTHERS' BACKS rowing vigorously.</p>

					<p>MAUI sits near the edge of the canoe. SEVERAL BEATS. </p>

					<p>The line becomes taut. </p>

					<p>MAUI becomes excited as he starts to reel. It becomes much too tough for MAUI and</p>

					
					<div class="lines">
						<p>MAUI</p>

						<p>Brothers! I have caught something big!</p>
					</div>

					<p>The OLDER BROTHERS turn to see MAUI struggling and</p>

					<div class="lines">
						<p>BROTHER #2</p>

						<p>What are you doing!?</p>
					</div>

					<div class="lines">
						<p>BROTHER #1</p>

						<p>Get away!</p>
					</div>

					<p>The OLDER BROTHERS drop the paddles and push MAUI out of the way, taking the pole and continuing to reel in the huge catch for SEVERAL BEATS.</p>

					<p>WE SEE the line is taut in the water as something begins to surface.</p>

					<p>MAUI is excited.</p>

					<p>The OLDER BROTHERS give one last effort and</p>

					<p>WIDE SHOT of a huge land mass rising out of the water. WE HEAR the rush of water being displaced and waves crashing. Forests and plains rise out of the water, a generally flat piece of land that stretches as far as the eye can see, the ocean cannot be seen. </p>

					<p>The canoe now sits on land, the THREE staring into the distance, surprised.</p>

					<div class="lines">
						<p>BROTHER #1 (CONT'D)</p>

						<p>(turning to MAUI)</p>

						<p>What kind of magical hook was that?</p>
					</div>

					<div class="lines">
						<p>MAUI</p>

						<p>(nervously stares)</p>
					</div>

					<p>A BEAT. The Gods will be unhappy about this.</p>

					<p>MAUI hops over the edge of the canoe onto land.</p>

					<div class="lines">
						<p>MAUI (CONT'D)</p>

						<p>(to the OLDER BROTHERS)</p>

						<p>Wait here. I'll go explain what happened.</p>
					</div>

					<p>MAUI runs off through the bush.</p>

					<p>The OLDER BROTHERS look around.</p>

					<div class="lines">
						<p>BROTHER #1</p>

						<p>(dignified)</p>

						<p>I pulled the hardest. This land is mine.</p>
					</div>

					<p>BROTHER #2 shoves BROTHER #1.</p>

					<div class="lines">
						<p>BROTHER #2</p>

						<p>(defensive)</p>

						<p>I pulled much more than you. This land is mine.</p>
					</div>

					<p>The OLDER BROTHERS reach toward their feet and each grab a club, pushing each other over the edge of the canoe.</p>

					<p>The OLDER BROTHERS start to swing their clubs wildly making contact with</p>

					<p>THE LAND. Earthquakes rumble forming mountains, valleys, lakes and rivers. WE HEAR land crumbling, rocks sliding and water gushing into lakes. SEVERAL SHOTS of this dynamic landscape.</p>

					<p>THE LAND settles into calm with an OVERHEAD WIDE SHOT of the WHOLE ISLAND.</p>

					<p class="align-right">DISSOLVE TO:</p>

					<p>EXT. PACIFIC ISLANDER VILLAGE - MORNING (REALITY)</p>

					<p>A YOUNG BOY sits on a log, holding a fishing pole and an ordinary hook. He looks disappointed.</p>

					<div class="lines">
						<p>MAN (o.s.)</p>

						<p>...and that's why you can't go fishing.</p>
					</div>

					<p>MAN looks down at the boy then smiles, resting his hand on the BOY'S shoulder. He looks somewhat similar to MAUI.</p>

					<p class="align-right">FADE TO BLACK.</p>

					<p><br />
					</p>