<div class="sidebar">
  <div class="poole-container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div class="contact-links">
      <span><a target="_blank" href="http://www.github.com/stvnspchr"><i class="fa fa-github fa-2x"></i></a></span>
      <span><a target="_blank" href="http://www.instagram.com/stvnspchr"><i class="fa fa-instagram fa-2x"></i></a></span>
    </div>

    <p class="email"><a href="mailto:stevenspeicher@gmail.com">stevenspeicher@gmail.com</a></p>
  </div>
</div>
